// @use "./callouts.scss";
@use "./variables.scss" as *;

// put your custom CSS here!

.page {
  @media all and (max-width: $fullPageWidth) {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: $pageWidth;
  }

  & article {
    & > h1 {
      font-size: xx-large;
    }

    & li:has(> input[type="checkbox"]) {
      list-style-type: none;
      padding-left: 0;
    }

    & li:has(> input[type="checkbox"]:checked) {
      text-decoration: line-through;
      text-decoration-color: var(--gray);
      color: var(--gray);
    }

    & li > * {
      margin-top: 0;
      margin-bottom: 0;
    }

    p > strong {
      color: var(--dark);
    }
  }

  & > #quartz-body {
    width: 100%;
    display: flex;
    @media all and (max-width: $fullPageWidth) {
      flex-direction: column;
    }

    & .sidebar {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      top: 0;
      width: $sidePanelWidth;
      margin-top: $topSpacing;
      box-sizing: border-box;
      padding: 0 4rem;
      position: fixed;
      @media all and (max-width: $fullPageWidth) {
        position: initial;
        flex-direction: row;
        padding: 0;
        width: initial;
        margin-top: 2rem;
      }
    }

    & .sidebar.left {
      left: calc(calc(100vw - $pageWidth) / 2 - $sidePanelWidth);
      @media all and (max-width: $fullPageWidth) {
        gap: 0;
        align-items: center;
      }
    }

    & .sidebar.right {
      right: calc(calc(100vw - $pageWidth) / 2 - $sidePanelWidth);
      flex-wrap: wrap;
      & > * {
        @media all and (max-width: $fullPageWidth) {
          flex: 1;
          min-width: 140px;
        }
      }
    }
  }

  & .page-header {
    width: $pageWidth;
    margin: $topSpacing auto 0 auto;
    @media all and (max-width: $fullPageWidth) {
      width: initial;
      margin-top: 2rem;
    }
  }

  & .center,
  & footer {
    margin-left: auto;
    margin-right: auto;
    width: $pageWidth;
    @media all and (max-width: $fullPageWidth) {
      width: initial;
      margin-left: 0;
      margin-right: 0;
    }
  }
}

// typography improvements
h1 {
  font-size: 1.75rem;
  margin-top: 2.25rem;
  margin-bottom: 1rem;
}

h2 {
  font-size: 1.4rem;
  margin-top: 1.9rem;
  margin-bottom: 1rem;
}

h3 {
  font-size: 1.12rem;
  margin-top: 1.62rem;
  margin-bottom: 1rem;
}

h4,
h5,
h6 {
  font-size: 1rem;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}


// pre {
//   // font-family: var(--codeFont);
//   padding: 0 0.5rem;
//   border-radius: 5px;
//   overflow-x: auto;
//   border: 1px solid var(--lightgray);
//   position: relative;

//   &:has(> code.mermaid) {
//     border: none;
//   }

//   & > code {
//     background: none;
//     padding: 0;
//     font-size: 0.85rem;
//     counter-reset: line;
//     counter-increment: line 0;
//     display: grid;
//     padding: 0.5rem 0;
//     overflow-x: scroll;

//     & [data-highlighted-chars] {
//       background-color: var(--highlight);
//       border-radius: 5px;
//     }

//     & > [data-line] {
//       padding: 0 0.25rem;
//       box-sizing: border-box;
//       border-left: 3px solid transparent;

//       &[data-highlighted-line] {
//         background-color: var(--highlight);
//         border-left: 3px solid var(--secondary);
//       }

//       &::before {
//         content: counter(line);
//         counter-increment: line;
//         width: 1rem;
//         margin-right: 1rem;
//         display: inline-block;
//         text-align: right;
//         color: rgba(115, 138, 148, 0.6);
//       }
//     }

//     &[data-line-numbers-max-digits="2"] > [data-line]::before {
//       width: 2rem;
//     }

//     &[data-line-numbers-max-digits="3"] > [data-line]::before {
//       width: 3rem;
//     }
//   }
// }

.table-container {
  overflow-x: auto;

  & > table {
    margin: 1rem;
    padding: 1.5rem;
    border-collapse: collapse;

    th,
    td {
      min-width: 75px;
    }

    & > * {
      line-height: 2rem;
    }
  }
}

th {
  text-align: left;
  padding: 0.4rem 0.7rem;
  border-bottom: 2px solid var(--gray);
}

td {
  padding: 0.2rem 0.7rem;
}

tr {
  border-bottom: 1px solid var(--lightgray);
  &:last-child {
    border-bottom: none;
  }
}

img {
  max-width: 100%;
  border-radius: 5px;
  margin: 1rem 0;
}

p > img + em {
  display: block;
  transform: translateY(-1rem);
}

hr {
  width: 100%;
  margin: 2rem auto;
  height: 1px;
  border: none;
  background-color: var(--lightgray);
}

audio,
video {
  width: 100%;
  border-radius: 5px;
}

.spacer {
  flex: 1 1 auto;
}

ul.overflow,
ol.overflow {
  max-height: 400;
  overflow-y: auto;

  // clearfix
  content: "";
  clear: both;

  & > li:last-of-type {
    margin-bottom: 30px;
  }

  &:after {
    pointer-events: none;
    content: "";
    width: 100%;
    height: 50px;
    position: absolute;
    left: 0;
    bottom: 0;
    opacity: 1;
    transition: opacity 0.3s ease;
    background: linear-gradient(transparent 0px, var(--light));
  }
}

// ██████  ██    ██ ███████ ████████  ██████  ███    ███ 
// ██      ██    ██ ██         ██    ██    ██ ████  ████ 
// ██      ██    ██ ███████    ██    ██    ██ ██ ████ ██ 
// ██      ██    ██      ██    ██    ██    ██ ██  ██  ██ 
// ██████   ██████  ███████    ██     ██████  ██      ██ 

html {
    scroll-behavior: smooth;
    text-size-adjust: none;
    overflow-x: hidden;
    width: 100vw;
    hyphens: none;
}

body {
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
    background-color: #28292e;
    font-size: large;
    font-weight: bolder;
    font-family: monospace;
    tab-size: 4;
    line-height: 2rem;
}

section {
    margin: 0;
    max-width: 100%;
    box-sizing: border-box;
}

strong {
    font-weight: $semiBoldWeight;
}

img {
    width: 100%;
    height: auto;
}

p,
ul,
text,
a,
tr,
td,
li,
ol {
    overflow-wrap: anywhere;
    color: rgba($color: white, $alpha: 0.85);
}

h1,
h2,
h3,
h4,
h5,
h6,
thead {
  color: white;
  font-weight: revert;
  margin-bottom: 0;

  article > & > a[role="anchor"] {
    color: var(--dark);
    background-color: transparent;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  &[id] > a[href^="#"] {
    margin: 0 0.5rem;
    opacity: 0;
    transition: opacity 0.2s ease;
    transform: translateY(-0.1rem);
    user-select: none;
  }

  &[id]:hover > a {
    opacity: 1;
  }
}

blockquote {
    margin: 1rem 0;
    background-image: url(/assets/blockquote.svg);
    background-size: 100%;
    background-position: left;
    background-repeat: no-repeat;
    padding-left: 1rem;
    transition: border-color 0.2s ease;
}

.desktop-only {
    display: initial;
    @media all and (max-width: $fullPageWidth) {
        display: none;
    }
}
  
.mobile-only {
    display: none;
    @media all and (max-width: $fullPageWidth) {
        display: initial;
    }
}

.text-highlight {
    background-color: rgb(254, 251, 83);
    color: black;
    padding: 0 4px;
    border-radius: 4px;
}

header {
    align-items: baseline;
}

.site-title>h2::before {
    content: " ";
    display: inline-block;
    white-space: pre;
    background-image: url(/static/icon.png);
    background-size: 1.4rem;
    vertical-align: text-top;
    background-repeat: no-repeat;
    width: 2rem;
    height: 1.4rem;
}

@media (max-width: $mobileBreakpoint) {
    header {
        display: flex;
        flex-direction: column !important;
    }
}

::selection {
    background-color: rgb(102, 110, 129);
}

a {
    transition: all 0.2s ease;
    font-weight: $semiBoldWeight;
    text-decoration: none;
    color: rgb(113, 152, 248);
  
    &:hover {
        color: rgb(113, 152, 248) !important;
        text-decoration: underline;
    }

    &.internal {
        background-color: rgb(41, 42, 47) !important;
        padding: 0 0.1rem;
        line-height: 1.4rem;
    
        &:has(> img) {
            background-color: none;
            border-radius: 0;
            padding: 0;
        }
    
        &.tag-link {
            &::before {
                content: "#";
            }
        }
    }

    &.external .external-icon {
      height: 1ex;
      margin: 0 0.15em;
  
      > path {
        fill: rgb(113, 152, 248);
      }
    }
}

code {
    font-family: monospace;
    border-radius: 5px;
    padding: 0.1rem 0.2rem;
    background: var(--lightgray);
}

pre {
    font-family: monospace;
    font-weight: bolder !important;
    padding: 0.5rem;
    border: 1px solid black !important;
    border-radius: 0 !important;

    &>button {
        display: none !important;
    }

    &:has(> code.mermaid) {
        border: none;
    }

    &>code {
        color: rgba($color: white, $alpha: 0.85);
        background: none;
        padding: 0;
        line-height: 1.5rem;
        font-family: monospace;
        counter-reset: line;
        counter-increment: line 0;
        display: block;
        padding: 0.5rem 0;
        overflow-x: auto;
        border-width: 200;
    }
}

// HLJS

code:not(.hljs) {
    background-color: rgb(78, 84, 100);
}

.hljs-keyword {
    color: rgb(238, 130, 178);
}

.hljs-title {
    color: rgb(105, 174, 201);
}

.hljs-type {
    color: rgb(213, 187, 250);
}

.hljs-number {
    color: rgb(215, 200, 134);
}

.hljs-comment {
    color: rgb(130, 139, 151);
}

.hljs-menu-token {
    color: white;
    background-color: rgb(52, 120, 246);
    padding: 0 2px;
    border-radius: 4px;
}

.hljs-highlight {
    color: black;
    background-color: rgb(254, 251, 83);
    padding: 0 2px;
    border-radius: 4px;
}

.hljs-editor-directive {
    display: none;
}

.hljs-meta {
    color: rgb(213, 187, 251);
}

// Callouts

.callout {
    border: 1px solid var(--border);
    background-color: var(--bg);
    border-radius: 5px;
    padding: 0 1rem;
    overflow-y: hidden;
    transition: max-height 0.3s ease;
    box-sizing: border-box;
  
    & > *:nth-child(2) {
      margin-top: 0;
    }
}

.callout:has(>p) {
    display: flex;
    // align-items: stretch;
    // box-sizing: content-box;
}

.callout:has(>p)::before {
    display: flex;
    content: " ";
    flex-basis: calc(1rem + 14px);
    flex-grow: 0;
    flex-shrink: 0;
    background-image: var(--callout-icon);
    background-size: var(--icon-size) var(--icon-size);
    background-color: var(--bg);
    background-position: top calc(0.15rem + 3px) center;
    background-repeat: no-repeat;
}

.callout:has(>p)::after {
    content: ' ';
    flex-grow: 1;
    background-color: var(--exp-bg);
    background-position: top calc(0.15rem + 3px) center;
    background-repeat: no-repeat;
}

.callout {
    p {
        line-height: 1.3rem;
    }
    >p {
        background-color: var(--exp-bg);
        background-repeat: repeat-x;
        margin-bottom: 0;
        line-height: calc(1.3rem + 6px);
        padding-left: 7px;
        padding-right: 7px;
    }

    a {
        &.internal {
            background-color: var(--exp-bg) !important;
        }
    }

    --callout-icon-danger: url('/assets/compiler-error.png');
    --callout-icon-bug: url('/assets/runtime-warning.png');
    --callout-icon-warning: url('/assets/warning.png');
    padding: 0;
    border: 0;
    
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;

    &[data-callout="danger"], &[data-callout="warning"], &[data-callout="bug"] {
        .callout-title {
            display: none;
        }
    }

    &[data-callout] {
        --icon-size: 1rem
    }

    &[data-callout="warning"] {
        --color: rgb(235, 225, 225);
        --border: rgb(41, 42, 47);
        --bg: rgb(140, 125, 54);
        --exp-bg: rgb(62, 59, 47);
        --callout-icon: var(--callout-icon-warning);
    }
    
    &[data-callout="danger"] {
        --color: rgb(235, 225, 225);
        --border: rgb(41, 42, 47);
        --bg: rgb(124, 61, 58);
        --exp-bg: rgb(59, 47, 47);
        --callout-icon: var(--callout-icon-danger);
    }

    &[data-callout="bug"] {
        --color: rgb(235, 225, 225);
        --border: rgb(41, 42, 47);
        --bg: rgb(113, 70, 143);
        --exp-bg: rgb(56, 48, 66);
        --callout-icon: var(--callout-icon-bug);
    }
}

// 124, 61, 56

.sidebar {
    margin-top: 0 !important;
    height: 100%;
    padding: 0 !important;
    width: calc((100% - $pageWidth) / 2) !important;
}

.sidebar.right {
    padding-left: 2rem !important;
    right: 0 !important;
}

.sidebar.left {
    
    padding-right: 2rem !important;
    left: 0 !important;
}